<div class="row">
    <div class="col-lg-12">
        <h3 class="title-h3">Counts</h3>
    </div>
</div>
<div class="row row-sm">

    <div class="col-lg-3">
      <div class="card custom-card">
            <div class="card-body" style="background-color: #28a745!important;">
                <div class="card-item">
                    <!-- <div class="card-item-icon card-icon">
                        <img src="assets/images/004.png" alt="" class="img-fluid">
                    </div> -->
                    <div class="card-item-title mb-2">
                        <label class="main-content-label text-uppercase font-weight-bold mb-1">Total</label>
                        <!-- <span class="d-block tx-12 mb-0 text-muted">Customer Registration</span> -->
                    </div>
                    <div class="card-item-body">
                        <div class="card-item-stat">
                            <h4 class="font-weight-bold" style="color: #ececec;">500</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card custom-card">
              <div class="card-body" style="background-color: #fbc02d!important;">
                  <div class="card-item">
                      <!-- <div class="card-item-icon card-icon bg-success">
                          <img src="assets/images/001.png" alt="" class="img-fluid">
                      </div> -->
                      <div class="card-item-title mb-2">
                          <label class="main-content-label text-uppercase font-weight-bold mb-1">Pending</label>
                          <!-- <span class="d-block tx-12 mb-0 text-muted">Vendor Registration</span> -->
                      </div>
                      <div class="card-item-body">
                          <div class="card-item-stat">
                              <h4 class="font-weight-bold" style="color: #ececec;">600</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-3">
        <div class="card custom-card">
              <div class="card-body" style="background-color: #ff7043!important">
                  <div class="card-item">
                      <!-- <div class="card-item-icon card-icon bg-info">
                          <img src="assets/images/003.png" alt="" class="img-fluid">
                      </div> -->
                      <div class="card-item-title mb-2">
                          <label class="main-content-label text-uppercase font-weight-bold mb-1">Closed</label>
                          <!-- <span class="d-block tx-12 mb-0 text-muted">Service Providers</span> -->
                      </div>
                      <div class="card-item-body">
                          <div class="card-item-stat">
                              <h4 class="font-weight-bold" style="color: #ececec;">254</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-3">
        <div class="card custom-card">
              <div class="card-body" style="background-color: #007ad9!important;">
                  <div class="card-item">
                      <!-- <div class="card-item-icon card-icon bg-danger">
                          <img src="assets/images/002.png" alt="" class="img-fluid">
                      </div> -->
                      <div class="card-item-title mb-2">
                          <label class="main-content-label text-uppercase font-weight-bold mb-1">Rejected</label>
                          <!-- <span class="d-block tx-12 mb-0 text-muted">Total Veterinarians</span> -->
                      </div>
                      <div class="card-item-body">
                          <div class="card-item-stat">
                              <h4 class="font-weight-bold" style="color: #ececec;">658</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-lg-12">
        <h3 class="title-h3">Chart</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div style="display: block;">
            <canvas baseChart width="400" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
          </div>
          
    </div>
</div>