<div class="col-md-12">
    <form [formGroup]="addEditForm">

          <!-- <mat-form-field class="pt-2" appearance="outline">
            <mat-label for="">Type</mat-label>
            <mat-select  formControlName="type" [errorStateMatcher]="matcher" >
              <mat-option [value]="1">LIFT</mat-option>
              <mat-option [value]="2">ELIVATOR</mat-option>
            </mat-select>
            <mat-error *ngIf="addEditForm.controls.type.hasError('required') && isShowErrors" >Type is required</mat-error>
          </mat-form-field> -->

          
     <mat-form-field class="pt-2" appearance="outline">
        <mat-label class="">Station Name</mat-label>
        <input matInput  [errorStateMatcher]="matcher"  formControlName="station_name" type="text"   />
        <mat-error *ngIf="addEditForm.controls.station_name.hasError('required') && isShowErrors" >Station Name is required</mat-error>
      </mat-form-field>

  
</form>
</div>
