<div mat-dialog-title>
    Edit Fault Type
    <button class="dialog-close-btn" (click)="dialogRef.close()">X</button>
</div>

<section mat-dialog-content>
    <app-add-edit-fault-type-details-form [isShowErrors]="isShowErrors">

    </app-add-edit-fault-type-details-form>
</section>
<div mat-dialog-actions style="float: right;" class="pull-right pr-2">
    <button mat-button class="btnnn-default-fn" (click)="dialogRef.close()">
        Cancel
    </button>
    <button mat-raised-button class="btnnn-prime-fn" (click)="update()">
        Save
    </button>
</div>