<div class="col-md-12">
    <form [formGroup]="addEditForm">


      <mat-form-field class="pt-2" appearance="outline">
        <mat-label class="">User Name</mat-label>
        <input matInput   [errorStateMatcher]="matcher" formControlName="username" type="text"   />
        <mat-error *ngIf="addEditForm.controls.username.hasError('required') && isShowErrors" >User Name is required</mat-error>
      </mat-form-field>
          
      <mat-form-field class="pt-2" appearance="outline">
        <mat-label class="">Password</mat-label>
        <input matInput   [errorStateMatcher]="matcher" formControlName="password" type="text"   />
        <mat-error *ngIf="addEditForm.controls.password.hasError('required') && isShowErrors" >Password is required</mat-error>
      </mat-form-field>

      <mat-form-field class="pt-2" appearance="outline">
        <mat-label class="">Email</mat-label>
        <input matInput   [errorStateMatcher]="matcher" formControlName="user_email" type="text"   />
        <mat-error *ngIf="addEditForm.controls.user_email.hasError('required') && isShowErrors" >User Email is required</mat-error>
      </mat-form-field>
          
      <mat-form-field class="pt-2" appearance="outline">
        <mat-label class="">Phone</mat-label>
        <input matInput   [errorStateMatcher]="matcher" formControlName="user_phone" type="text"   />
        <mat-error *ngIf="addEditForm.controls.user_phone.hasError('required') && isShowErrors" >Phone is required</mat-error>
      </mat-form-field>



      <!-- <mat-form-field class="pt-2" appearance="outline">
        <mat-label class="">Employee Id</mat-label>
        <input matInput   [errorStateMatcher]="matcher" formControlName="employee_id" type="text"   />
        <mat-error *ngIf="addEditForm.controls.employee_id.hasError('required') && isShowErrors" >Employee id is required</mat-error>
      </mat-form-field> -->



      <!-- <mat-form-field class="pt-2" appearance="outline">
        <mat-label class="">Date of reg</mat-label>
        <input matInput   [errorStateMatcher]="matcher" formControlName="date_of_reg" type="text"   />
        <mat-error *ngIf="addEditForm.controls.date_of_reg.hasError('required') && isShowErrors" >Date of reg is required</mat-error>
      </mat-form-field> -->



      <!-- <mat-form-field class="pt-2" appearance="outline">
        <mat-label class="">Profile Img</mat-label>
        <input matInput   [errorStateMatcher]="matcher" formControlName="profile_img" type="text"   />
        <mat-error *ngIf="addEditForm.controls.profile_img.hasError('required') && isShowErrors" >Profile img is required</mat-error>
      </mat-form-field> -->


      <mat-form-field class="pt-2" appearance="outline">
        <mat-label for="">User Type</mat-label>
        <mat-select  formControlName="user_type" [errorStateMatcher]="matcher" >
          <mat-option [value]="1">CMRL</mat-option>
          <mat-option [value]="2">JOHNSON</mat-option>
        </mat-select>
        <mat-error *ngIf="addEditForm.controls.user_type.hasError('required') && isShowErrors" >User Type is required</mat-error>
      </mat-form-field>

   
  
</form>
</div>
