/* You can add global styles to this file, and also import other style files */

*{
  font-family: Calibri !important;
  font-size: 14px !important;
}
.material-icons{
  font-family: 'Material Icons' !important;
}

.page-title{
    font-size: 20px !important;
    font-weight: bold;
    text-transform: capitalize !important;
    padding: 10px 0 !important;
    }
  
  .page-sub-title-1{
    font-size: 17px !important;
    font-weight: bold;
    text-align : left;
  }
    
  .page-sub-title-2{
    font-size: 16px;
    font-weight: bold;
    text-align : left;
  }
  
  .mat-table-container {
      display: block !important;
      padding: 0px !important;
      flex-direction: column !important;
      min-width: 300px !important;
      overflow: auto;
  }
  
  .mat-table {
  background:#f3f4f7 !important;
  width: 100%;
  overflow: auto;
  }
  .mat-sort-header-button, th.mat-header-cell, .mat-header-cell{
  text-transform:uppercase!important;
  font-size: 14px !important;
  }
  
  td.mat-cell, th.mat-header-cell, .mat-cell, .mat-header-cell{
  border-top: 1px solid lightgrey;
  vertical-align: middle;
  align-items: initial;
  padding: 5px 6px !important;
  }
    
  th.mat-header-cell, .mat-header-cell {
  flex-direction: column;
  justify-content: left;
  background: #3f51b5;
  font-weight: bolder;
  }
     
  .mat-sort-header-arrow, th.mat-header-cell, .mat-header-cell {
  color: white !important;
  }
    
  .mat-cell,
  .mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  }
    
  /* + create icon */
  .example-button-container > .mat-mini-fab > .mat-button-wrapper, .mat-mini-fab > .mat-button-wrapper{
     font-size: 20px !important ;
  }

  .edit-mat-icon{
    color: #5369f8 !important;
    cursor: pointer !important;
    font-size: 20px;
  }

  .disable-mat-icon{
    color: #9e9a9a !important;
    cursor: not-allowed !important;
    font-size: 20px;
  }

  .delete-mat-icon{
    color: rgb(177, 10, 10) !important;
    cursor: pointer !important;
    font-size: 18px !important;
  }
  .add-mat-icon{
    color: rgb(10, 177, 60) !important;
    cursor: pointer !important;
    font-size: 27px !important;
  }

  .dialog-close-btn{
    border-radius: 70%;
    float: right;
    border: 1.2px solid black;
    font-size: 16px !important;
    padding: 0px 12px;
  }

  .dialog-close-btn:hover {
    background-color: lavender !important;
  }

  /* Default */
.btnnn-default-fn {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: 1px solid lightgray !important;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  background-color: white;
  color:#9e9a9a !important;
}

.btnnn-default-fn, .btnnn-secondary-fn, .btnnn-prime-fn, .btnnn-warning-fn, .btnn, .btn-register-fn{
  font-size: 15px !important;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 74px !important;
  line-height: 36px !important;
  padding: 0 16px;
  border-radius: 4px;
}

.btnnn-prime-fn {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  background-color: #5369f8 !important;
  color:white !important;
}

.mat-dialog-container, .mat-dialog-content{
  overflow-x: hidden !important;
}

.mat-dialog-container
{
  padding:0px !important;
}


.mat-dialog-title, .mat-card-title{
  font-weight: bold;
  font-size: 17px !important;
  text-align: left;
  text-transform: capitalize;
} 

.mat-dialog-title{
  padding: 10px;
  margin: 0px !important;
  background: lavender;
}

.mat-dialog-actions{
  margin: auto !important;
  margin-right: 6px !important;
}

.mat-dialog-actions > .btnnn-prime-fn {
  margin-left: 12px !important;
}

.pointer, button, .mat-form-field{
  cursor: pointer;
}

.mat-paginator-page-size-select > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-infix{
  top: 0px !important;
}

.mat-form-field {
  width: 100%;
}

.mat-row:hover,.mat-tree-node:hover, .active-row  {
  background: white !important;
}
.mat-cell, .mat-footer-cell, .mat-row {
  font-size: 12px !important;
}

.mat-mini-fab:hover{
  background-color: #5369f8 !important; 
  }

   /* Scroll bar CSS */
   ::-webkit-scrollbar {
    width: 5px;
    height: 8px !important;
    /* background: #000; */
}

::-webkit-scrollbar-thumb {
    background: #7d7d75;
    /* border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}

.outline {
 border: 1px solid lightgray;
 border-radius: 5px;
}

.custom-delete-mat-icon{
    color: rgb(177, 10, 10) !important;
    cursor: pointer !important;
}

.mat-button-toggle-label-content{
  padding: 8px !important;
  line-height: 20px !important;
}

.mat-button-toggle-checked{
  background-color: #43d39e !important;
  color: white !important;
}

.formFieldAdded > td{
  background-color: #e0bfbf !important;
}

.mat-icon-button[disabled]{
  color: #9e9a9a !important;
  cursor: not-allowed !important;
}

/** Primary button **/
/* .btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
} */

/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}